<h1><u>Take the quiz</u></h1>



<script>
    $(document).ready(function(){
        var countvalue=$("#counter").val();

        console.log("on load"+ countvalue);
            $.ajax({
                url: "/questions/prev",
                type: "GET"
            }) ;

            $.ajax({
               url: "/questions/next",
                type: "GET"

            });

        $("#next").click(function(){
            $.ajax({
               url: "/questions/allquestions",
               remote: true,
               type: "GET",
               data: {count: countvalue}
            });

            ++countvalue;
            console.log("next"+countvalue);

        })


        $("#prev").click(function(){
            var minus=--countvalue-1;
            console.log("aa"+minus);
            $.ajax({
               url: '/questions/prevquestions',
                remote: true,
                type: "GET",
                data: {negcount: minus}
            });

            console.log("prev"+minus);

        });

        $('#next').click(function(){
           var value=$('input[name=options]:checked').val();
            console.log("fired "+value);
            $.ajax({
                url: "/questions/buttonvalue",
                remote: true,
                type: "POST",
                data: {data1: value,
                score: $("#score").attr('data-score'),
                total: $("#score").attr('data-total')
                }
            });
        });

    });

</script>

<form>

<div class="displayquiz">


</div>
</form>
<div class="links">
<span id="prev"></span>
  <span id="next"></span>
</div>

  <input type="hidden" value="1" id="counter">

<div class="value">


</div>

<br />

<div class="total">
 <span id="scorelabel">Total score is </span>
  <span id="score" data-score="0" data-total="0"></span>
</div>

<div>

<%= link_to "create question", questions_new_path %>
</div>