<h1><u>Take the quiz</u></h1>



<script>
    $(document).ready(function(){
        var countvalue=$("#counter").val();
        $("#next").click(function(){

            console.log(countvalue)

            $.ajax({
               url: "/questions/next",
               remote: true,
               type: "GET",
               data: {count: countvalue}
            });

            countvalue++;
            console.log(countvalue);
        });

    });

</script>






<div class="displayquiz">


</div>

<input type="hidden" value="1" id="counter">

<div class="menu">
  <span id="prev"><a href="#">prev</a></span>
  <span id="next"><a href="#">next</a></span>
</div>
<br />

<div class="total">
 <span id="scorelabel">Total score is </span>
  <span id="score"><%= text_field_tag 'value' %></span>
</div>

